.footer{
    color: #fa45d8;
    filter: drop-shadow(0px 0px 8px #FA44D7);

}
.social-media {
    margin: 2rem 0;
}
.media-container {
    background-color: #fa45d8;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}
.media-container:hover {
    box-shadow: white 2px 2px 8px;
}
.nova-flat-regular {
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .offside-regular {
    font-family: "Offside", sans-serif;
    font-weight: 400;
    font-style: normal;
  }