<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center" id="siguenos">
        <h2 class="siguenos nova-flat-regular">¡Siguenos en Redes!</h2>
        <div class="social-media d-flex justify-content-around">
            <div class="media-container">
                <a href="https://www.facebook.com/share/g4F8ybcLXovDNiHa" target="_blank">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/facebook--v1.png" alt="facebook--v1"/>
                </a>
            </div>
            <div class="media-container">
                <a href='https://www.instagram.com/guerrerosrollerstoluca?igsh=MTBnZXViNWZveDZuZg==' target="_blank">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1"/>
                </a>
            </div>
            <div class="media-container">
                <a href='https://www.tiktok.com/@guerrerosrollers?_t=8qonc8Gxvvi&_r=1' target="_blank">
                    <img width="50" height="50" src="https://img.icons8.com/ios/50/tiktok--v1.png" alt="tiktok--v1"/>
                </a>
            </div>
        </div>
        <div class="offside-regular">
            © {{currentyear}} Guerreros Roller
        </div>
    </div>
</footer>