<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <h2 class="siguenos">¡Siguenos en Redes!</h2>
        <div class="social-media d-flex justify-content-around">
            <div class="media-container">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/facebook--v1.png" alt="facebook--v1"/></div>
            <div class="media-container">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1"/>
            </div>
            <div class="media-container">
                <img width="50" height="50" src="https://img.icons8.com/ios/50/tiktok--v1.png" alt="tiktok--v1"/>
            </div>
            <!-- <div></div> -->
        </div>
        <div>
            © {{currentyear}} Guerreros Roller
        </div>
    </div>
</footer>