<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <h2 class="siguenso">¡Siguenos en Redes!</h2>
        <div class="social-media">
            <div class="media-container">
                <img  src="https://img.icons8.com/ios/50/facebook--v1.png" alt="facebook--v1"/></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            © {{currentyear}} Guerreros Roller
        </div>
    </div>
</footer>