.footer{
    color: #fa45d8;
    filter: drop-shadow(2px 4px 6px #FA44D7);
    // text-shadow: #f678dd 1px 1px 3px;
}
.media-container {
    background-color: #fa45d8;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}