<section class="grupo-seccion" id="grupo-adultos-ninos">
    <div class="container">
        <div class="row">
            <h3 class="titulo-seccion text-center mb-5">
                <strong>¡Grupo para adultos y niños!</strong>
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 col-md-3 mb-4 text-center">
                <img src="assets/adulto.JPG" alt="Niño" class="imagen-grupo">
            </div>
            <div class="col-6 col-md-3 mb-4 text-center">
                <img src="assets/nino.JPG" alt="Adulto" class="imagen-grupo">
            </div>
        </div>
    </div>
</section>
