.grupo-seccion {
    background-color: #f0f0f0; /* Color de fondo opcional */
    padding: 2rem 0; /* Espaciado vertical */
}

.titulo-seccion {
    font-size: 2.5rem; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita */
}

.imagen-grupo {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 10px; /* Espaciado alrededor de la imagen */
}
