.grupo-seccion {
    background-color: #212121; 
    padding: 2rem 0; 
}

.titulo-seccion {
    font-size: 2.5rem; /* Tamaño de la fuente */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita */
}

.imagen-grupo {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de su contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    padding: 10px; /* Espaciado alrededor de la imagen */
}
.mb-4custom {
  margin-bottom: 1.5rem;
}
/* Estilo de las cards*/
.row {
  opacity: 0.9;
}
.card {
    margin-top: 1rem;
    position: relative;
    width: 15rem;
    // height: 254px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 12px;
    gap: 12px;
    border-radius: 20px;
    cursor: pointer;
    color: #000000;
    box-shadow: #ffffff 0px 0px 6px 2px;
  }
  
  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 15rem;
    height: 20.5rem;
    border-radius: 20px;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 80%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 80%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(40px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .card p:not(.heading) {
    font-size: 20px;
    color: #000000;
  }
  
  .card p:not(::after) {
    font-size: 0px;
    color: #ffffff;
  }
  
  .card p:last-child {
    color: #ffffff;
  }
  
  .card:hover::after {
    filter: blur(50px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  .card:hover {
    transform: scale(1);
  }
  .text-card {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.card:hover .imagen-grupo {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
}

/* Muestra el texto al hacer hover en la tarjeta */
.card:hover .text-card {
    color: #ffffff;
    display: block;
    opacity: 1;
}
.nova-flat-regular {
  font-family: "Nova Flat", system-ui;
  font-weight: 400;
  font-style: normal;
}
.offside-regular {
  font-family: "Offside", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 800px) {
  
  .mb-4custom {
    margin: 2.5rem auto;
  }
  .card {
    width: 340px;
    margin: 1rem auto;
  }
  .card::before{
    left: -2rem;
    width: 340px;
    height: 410px;
    margin: auto 2rem;
  }
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.1) scaleY(0.94);
    // margin: auto;
  }
 
}