<section class="grupo-seccion" id="grupo-adultos-ninos">
    <div class="container">
        <div class="row">
            <h3 class="titulo-seccion text-center mb-5 nova-flat-regular">
                <strong>¡Grupos para todas las edades!</strong>
            </h3>
        </div>
        <div class="row justify-content-around">
            <div class="col-12 col-md-3 mb-4custom text-center">
                <div class="offside-regular titulo-card">Adultos</div>
                <div class="card">
                    <img src="../../assets/patinaConEstilo_5.JPG" alt="Adulto-Roller" class="imagen-grupo">
                    <p class="text-card offside-regular">
                        La sensación de bajar un buen truco no tiene precio, nosotros te enseñamos paso a paso como lograrlo!
                    </p>
                    <div class="offside-regular ver-mas">Ver más</div>
                    
                  </div>
            </div>
            <div class="col-12 col-md-3 mb-4custom text-center">
                <div class="offside-regular titulo-card">Niños</div>
                <div class="card">
                    <img src="../../assets/nino.JPG" alt="Niño-Roller" class="imagen-grupo">
                    <p class="text-card offside-regular">
                        Desde los 3 años, pueden patinar. ¡Es el momento perfecto, sin miedo, liberan su energía y se divierten aprendiendo!
                    </p>
                    <div class="offside-regular ver-mas">Ver más</div>
                </div>
            </div>
        </div>
    </div>
</section>
