<section data-bs-version="5.1" class="gallery07 cid-us8K83F4bv" id="gallery-16-us8K83F4bv">
    <div class="container-fluid gallery-wrapper">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="text-center mbr-fonts-style align-center mb-0 display-2">
                        <strong class="titulo" >¡Patina Con Estilo!</strong>
                    </h4>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-container-3">
                <div class="grid-item">
                    <img src="../../assets/patinaConEstilo_6.JPG" alt="Patinaje 1">
                </div>
                <div class="grid-item">
                    <img src="../../assets/patinaConEstilo_2.JPG" alt="Patinaje 2">
                </div>
                <div class="grid-item">
                    <img src="../../assets/patinaConEstilo_3.JPG" alt="Patinaje 3">
                </div>
                <div class="grid-item">
                    <img src="../../assets/patinaConEstilo_4.JPG" alt="Patinaje 4">
                </div>
                <div class="grid-item">
                    <img src="../../assets/patinaConEstilo_1.JPG" alt="Patinaje 5">
                </div>
                <div class="grid-item">
                    <img src="../../assets/patinaConEstilo_7.JPG" alt="Patinaje 6">
                </div>
            </div>
        </div>
    </div>
</section>