<section class="partners-section" id="partners">
    <div class="container-fluid">
        <div class="row justify-content-center mb-3">
            <div class="col-12">
                <div class="section-header text-center">
                    <h4 class="section-title">Nuestros proveedores</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="partner-item col-12 col-md-4 col-lg-2">
                <div class="partner-image-wrapper">
                    <img src="assets/flyingEagle.png" alt="Flying Eagle" class="partner-image">
                </div>
            </div>
            <div class="partner-item col-12 col-md-4 col-lg-2">
                <div class="partner-image-wrapper">
                    <img src="assets/powerslide.webp" alt="Powerslide" class="partner-image">
                </div>
            </div>
            <div class="partner-item col-12 col-md-4 col-lg-2">
                <div class="partner-image-wrapper">
                    <img src="assets/roces.webp" alt="Roces" class="partner-image">
                </div>
            </div>
            <div class="partner-item col-12 col-md-4 col-lg-2">
                <div class="partner-image-wrapper">
                    <img src="assets/undercover.png" alt="Undercover" class="partner-image">
                </div>
            </div>
            <div class="partner-item col-12 col-md-4 col-lg-2">
                <div class="partner-image-wrapper">
                    <img src="assets/rollerBlade.png" alt="Rollerblade" class="partner-image">
                </div>
            </div>
        </div>
    </div>
</section>
