.partners-section {
    opacity: 0.9;
    background-color: #f0f0f0;
    margin-bottom: 2rem;
}

.section-header {
    margin: 2rem auto;
}

.section-title {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.partner-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem; 
}

.partner-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.partner-image {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
}

.partner-image-wrapper:hover {
    transform: scale(1.1);
}
.p1 {
    padding: 1rem;
}
.texto-provedores {
    font-size: 1.3rem;
}
.nova-flat-regular {
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .offside-regular {
    font-family: "Offside", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
@media (max-width: 768px) {
    .partner-item {
        margin-bottom: 1rem; 
        flex: 0 0 33.33%; 
    }

    .partner-image-wrapper {
        padding: 0.5rem; 
        margin: 0 auto; 
        width: 100%; 
    }

    .partner-image {
        width: 100%;
        height: 100px;
    }
    
    .section-title {
        font-size: 2rem; 
    }
}
