.fq-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: deeppink;
    padding: 1rem;
    opacity: 0.88;
}
.accordion-item {
    margin: 1.5rem 0;
}
.accordion-button {
    font-size: 1.5rem;
}
.accordion-button:not(.collapsed) {
    background-color: #812380;
    color: white;
}
.accordion-body {
    padding: 2rem;
    font-size: 1.2rem;
}
.br {
    border-radius: 50px !important;
}
#accordionExample {
    margin: 1rem 0;
}
.nova-flat-regular {
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .offside-regular {
    font-family: "Offside", sans-serif;
    font-weight: 600;
    font-style: normal;
  }