.marquee {
    opacity: 0.9;
    white-space: nowrap;
    height: 10rem !important;
    background-color: whitesmoke;
    margin-bottom: 3px;
  }
  
  .item {
    margin: auto 0px;
    font-size: 6rem;
    display: inline-block;
  
  }
  