<ngx-fast-marquee 
        [speed]="200"
        [maskPercentage]="20"
        direction="left"
        [pauseOnClick]="true"
        class="marquee "
      >
        <div class="item offside-regular">• Diversión garantizada 😂</div>
        <div class="item offside-regular">• Eventos especiales 🪩</div>
        <div class="item offside-regular">• Instructores expertos 😎</div>
        <div class="item offside-regular">• Clases divertidas 😃 </div>
        <div class="item offside-regular">• Ambiente amigable ✌🏼</div>
        <div class="item offside-regular">• Precios Accesibles 💸 </div>
</ngx-fast-marquee>