.marquee {
    opacity: 0.9;
    white-space: nowrap;
    height: 10rem !important;
    background-color: whitesmoke;
    margin: 3px 0px;
  }
  
  .item {
    margin: auto 0px;
    font-size: 6rem;
    display: inline-block;
  
  }
  .offside-regular {
    font-family: "Offside", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @media (max-width: 768px) {
    .marquee {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7rem !important;
  }
    .item {
        font-size: 2.5rem; 
    }
}
