.espaciador {
    height: 7rem;
}
.custom-back {
    height: 38rem;
    background-image: url(../../assets/fondo.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    text-shadow: gray 2px 3px 8px;
}
.patina-estilo-title {
    padding-top: 1.5rem;
    font-size: 3rem;
    margin-bottom: 0px;
}
.patina-estilo-subtitle {
    font-size: 1.5rem;
}
.nova-flat-regular {
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .offside-regular {
    font-family: "Offside", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
@media (max-width: 800px) {
    // .custom-back {
    //     color: whitesmoke;
    //     text-shadow: gray 2px 3px 8px;
    // }
}