<div class="container back-color">
    <div class="row">
        <img src="../../assets/hc-evo-pw.JPG" class="amz-img" alt="foto increible"/>
    </div>
    <div class="row our-pasion">
        <h1>Nuestra Pasión por Patinar</h1>
        <p class="text-pharagraph">En nuestra escuela de patinaje, la diversión nunca se detiene. Aquí, cada giro y salto es una celebración de la vida sobre ruedas.</p>
        <p class="text-pharagraph">
            Desde nuestros coloridos instructores hasta nuestras vibrantes clases, estamos dedicados a hacer que cada lección sea memorable y emocionante.
        </p>
        <p class="text-pharagraph">
            ¡Únete a nosotros y descubre por qué somos la mejor escuela de patinaje en la ciudad! Te prometemos risas, caídas y, sobre todo, mucho patinaje. ¡Conviertete en un Guerrero Roller!
        </p>
    </div>
</div>