.back-color {
    background-color: blueviolet;
    border-radius: 50px;
    margin-bottom: 2rem;
    color: white;
}
.amz-img {
    padding: 0px;
    border-radius: 50px;
}
.our-pasion {
    padding: 2rem;
}
.text-pharagraph {
    font-size: 1.3rem;
}
@media (max-width: 800px) {
    .back-color {
        border-radius: 0px;
        margin-bottom: 0rem;
    }
    .amz-img {
        width: 96%;
        margin: 10px auto;
    }
}