.back-color {
    // background-color: whitesmoke;
    background-color: blueviolet;
    border-radius: 50px;
    margin-bottom: 3rem;
    color: white;
}
.amz-img {
    padding: 0px;
    border-radius: 50px;
}
.our-pasion {
    padding: 2rem;
}
.text-pharagraph {
    font-size: 1.3rem;
}