<header class="header">
    <img src="assets/rollers.jpg" alt="Fondo Rollers" class="header-background">
    <div class="header-content container">
      <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a href="#">
              <img src="https://r.mobirisesite.com/832891/assets/images/photo-1706841877942-d520c4e07795.jpeg" alt="Logo" style="height: 4.3rem;">
            </a>
          </span>
          <span class="navbar-caption-wrap">
            <a class="navbar-caption text-black display-4" href="#">Patinaje</a>
          </span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
            <span></span><span></span><span></span><span></span>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto nav-dropdown">
            <li class="nav-item"><a class="nav-link text-black display-4" href="#">Inicio</a></li>
            <li class="nav-item"><a class="nav-link text-black display-4" href="#">Precios</a></li>
            <li class="nav-item"><a class="nav-link text-black display-4" href="#">Sobre Nosotros</a></li>
          </ul>
          <div class="navbar-buttons">
            <a class="btn btn-primary btn-custom display-4" href="#">Únete Ahora</a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  