<header class="header">
    <img src="assets/rollers.jpg" alt="Fondo Rollers" class="header-background">
    <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/casco1.jpg" alt="Logo" class ="img-header">
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-title navbar-text" href="#">
                        Guerreros Rollers
                    </a>
                </span>
            </div>
            <div class="navbar-toggler" (click)="toggleNavbar()" aria-expanded="isNavbarVisible" aria-label="Toggle navigation">
                <img src="assets/menu.png" alt="Menu" *ngIf="!isNavbarVisible" style="height: 2rem;">
                <img src="assets/cerrar.png" alt="Cerrar" *ngIf="isNavbarVisible" style="height: 2rem;">
            </div>            
            <div class="collapse navbar-collapse mt-3" [ngClass]="{'show': isNavbarVisible}" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto nav-dropdown">
                    <li class="nav-item"><a class="nav-link navbar-text" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link navbar-text" href="#">Precios</a></li>
                    <li class="nav-item"><a class="nav-link navbar-text" href="#">Sobre Nosotros</a></li>
                </ul>
                <div class="navbar-buttons">
                    <a class="btn btn-primary btn-custom " href="#">Únete Ahora</a>
                </div>
            </div>
        </nav>
    </div>
</header>
