<header class="header">
    <img src="assets/rollers.jpg" alt="Fondo Rollers" class="header-background">
    <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="navbar-brand margin-l">
                <span class="navbar-logo">
                    <a href="#">
                        <img src="assets/casco1.jpg" alt="Logo" class ="img-header">
                    </a>
                </span>
                <span class="navbar-caption-wrap">
                    <a class="navbar-title navbar-text" href="#">
                        Guerreros Rollers
                    </a>
                </span>
            </div>
            <div class="navbar-toggler" (click)="toggleNavbar()" aria-expanded="isNavbarVisible" aria-label="Toggle navigation">
                <img src="assets/menu.png" alt="Menú" *ngIf="!isNavbarVisible" style="height: 2rem;">
                <img src="assets/cerrar.png" alt="Cerrar" *ngIf="isNavbarVisible" style="height: 2rem;">
            </div>            
            <div class="collapse navbar-collapse margin-r" [ngClass]="{'show': isNavbarVisible}" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto nav-dropdown">
                    <li class="nav-item"><a class="nav-link navbar-text" href="#">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link navbar-text" href="#">Precios</a></li>
                    <li class="nav-item"><a class="nav-link navbar-text" href="#">Sobre Nosotros</a></li>
                </ul>
                <div class="navbar-buttons">
                    <a class="btn btn-custom" href="#">Únete Ahora</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<section data-bs-version="5.1" class="gallery07 cid-us8K83F4bv" id="gallery-16-us8K83F4bv">
    <div class="container-fluid gallery-wrapper">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong class="titulo" >¡Patina Con Estilo!</strong>
                    </h4>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-container-3 moving-left">
                <div class="grid-item">
                    <img src="https://r.mobirisesite.com/832891/assets/images/photo-1517177646641-83fe10f14633.jpeg" alt="Patinaje 1">
                </div>
                <div class="grid-item">
                    <img src="https://r.mobirisesite.com/832891/assets/images/photo-1550585477-a025700d7fce.jpeg" alt="Patinaje 2">
                </div>
                <div class="grid-item">
                    <img src="https://r.mobirisesite.com/832891/assets/images/photo-1471457704840-607b55bf1172.jpeg" alt="Patinaje 3">
                </div>
                <div class="grid-item">
                    <img src="https://r.mobirisesite.com/832891/assets/images/photo-1495921258158-db2d5a45cb02.jpeg" alt="Patinaje 4">
                </div>
                <div class="grid-item">
                    <img src="https://r.mobirisesite.com/832891/assets/images/photo-1517177646641-83fe10f14633.jpeg" alt="Patinaje 1">
                </div>
            </div>
        </div>
    </div>
</section>


